<div class="card">
    <!-- Exemplo com Binding <div class="card__plan card__item">Plano <b>{{tipo}}</b></div>
    <div class="card__price card__item">{{getFullPrice()}}</div> -->
    <!-- <div class="card__plan card__item">Plano <b>{{plano.infos?.tipo ? plano.infos.tipo : 'Sem tipo definido'}}</b></div>
    <div class="card__price card__item">R$ {{plano.infos.preco ? plano.infos.preco : 0}},00/Mês</div> -->
    <div class="card__plan card__item">Plano <b>{{planType}}</b></div> <!-- recebo os valores por interpolação passo 4 -->
    <div class="card__price card__item">R$ {{planPrice}},00/Mês</div>
    <app-card-button></app-card-button>
    <!-- <mat-slider min="0" max="10" step="1" value="5">
        <input matSliderThumb type="range">
    </mat-slider> -->
</div>